extends layout

block content
  h1= title
  p Welcome to Cricket
  .row
    .col-md-10
        .row
            div Let&apos;s start the match
        .row
            button.btn.btn-primary.start-match(type='button') Start Match
        #match-start.row(style='display:none;')
            .col-md-2
            .col-md-6
                .match-headline
                    .match-startup-text Match Starts
                    .total-score Bengalure: 40 Runs
                    .total-wicket 4 wickets
                .match-details
                    ul.score-dashboard
